<div class="feature-profile">
  <p><strong>Feature:</strong> {{model.text}}</p>
  <p><strong>Description:</strong> {{model.description}}</p>
  <p>{{link-to "Edit" "features.edit" model.id}} &mdash; <a href="#" {{action "delete" model}}>Delete</a></p>
</div>

<div class="requirements-container">
  {{outlet}}
</div>
