<div class="feature-profile">
  <p>{{model.currentFeature.text}}</p>
  <p>{{model.currentFeature.description}}</p>
  <p>{{link-to "Edit" "features.edit" model.currentFeature}}</p>
  <p><a href="#" {{action "delete" model.currentFeature}}>delete</a></p>
</div>

<ul>
  {{#if model.previousFeature}}
    <li>
      {{#link-to 'features.show' model.previousFeature.id }}
        Previous: {{model.previousFeature.text}}
      {{/link-to}}
    </li>
  {{/if}}
  {{#if model.nextFeature}}
    <li>
      {{#link-to 'features.show' model.nextFeature.id }}
        Next: {{model.nextFeature.text}}
      {{/link-to}}
    </li>
  {{/if}}

  <li>
    {{#link-to 'features'}}Back{{/link-to}}
  </li>
</ul>
